.list {
  padding: 40px;
}

.buttonCreate {
  padding: 4px 10px;
  font-size: 16px;
}

.titleBlock {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.modalBody {
  width: 400px;
}
